<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
	<meta charset="utf-8">
    <title>Temperature Sensor Data Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>
  <body>
  	<div id="top-nav"> </div>
  	
  	<div class="container" style="padding: 30px">

    	<div align="center">
		<embed src="report.pdf" width="850" height="650" type='application/pdf'> </embed>
		</div>
		
    	<div class="container" style="padding-top: 50px" align="center">
	    	<a class="btn btn-primary btn-lg" href="https://github.com/N02870941/TempSensorProject/blob/master/doc/LATEX_report/report.tex" 
	    	target="_blank" type="button">View the Source</a>
    	</div>
    </div>
  	
  	<div class="push"> </div>
  	  <footer>
  	  	<div class="container" style="padding-top: 30px">
			 <div class="footer">
			 	
			 	<div class="row">
				  <div class="col-md-3"><a href="index.html">Home</a></div>
				  <div class="col-md-3"><a href="tempVersusTime.html">Graph 1</a></div>
				  <div class="col-md-3"><a href="averageFloorTemp.html">Graph 2</a></div>
				  <div class="col-md-3"><a href="../../GUI_B/webapp/templates/main.html">Other Group's Page</a></div>
				</div>
				
				<div style="padding: 5px"> </div>
				
				<div class="row">
			 		<div class="col-md-3"><a href="https://github.com/N02870941/TempSensorProject.git">GitHub</a></div>
				  	<div class="col-md-3"><a href="http://cs.newpaltz.edu/~fritzh1/TempSite/mvc/view/report.pdf">Report PDF</a></div>
			 	</div>
			 	
			 	<hr>
			 	
			 	<div class="row">
				  <div class="col-xs-12 col-md-8"><p align="left">&copy; 2016 Heidi Fritz and Jabari Dash</p>
				  	
				  </div>
				  <div class="col-xs-6 col-md-4"><p align="left">Disclaimer: Some pages on this website currently are not compatible with Firefox or Safari</p></div>
				 </div>
				 
			 </div>
		 </div>
	  </footer>
	  
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.4.0/holder.js"></script>
    <script type="text/javascript">
			$(function(){
				$("#top-nav").load("../inc/nav.php", function(){
					$(".home").addClass("active");					
				});
			});
	</script>	
  </body>

</html>